h1 {
  padding: 0 8rem;
}

.patient-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 480px;
  margin: 0 auto; /* centre le formulaire horizontalement dans la zone de contenu */
}

.actions {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  margin-top: 1rem;
}
